.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentwidth{
  width: 1360px;
  overflow: hidden;
}
.loginbar{
  height: 25px;
}
.searchbar{
  height: 75px;
}
